@import 'variables';


.footer {
    background-color: $navbar-color;
    color: #f8f9fa;

    a {
        color: #f8f9fa;
        text-decoration: none;

        &:hover {
            color: #adb5bd;
        }
    }
}
