@import './variables.scss';
@import './landingpage.scss';
@import 'singlecardcourse';
@import './markdowntext.scss';
@import './footer.scss';
@import './sidebar.scss';


body {
  background-color: $background-color;
  z-index: -100000000;
}

.main-container {
  min-height: calc(100vh - 70px - 66px);
}

.footer {
  font: $font-family;

  .footer-icons {
    padding: 0 0.2rem;
  }

}

.navbar {
  background-color: $navbar-color!important;

  .navbar-brand, .nav-link {
    font-weight: bold;
    color: #f8f9fa !important; // This is Bootstrap's color for light text
  }
}

.sticky-home-button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.visible {
        opacity: 1;
    }

    .sticky-home-btn{
        background-color: $navbar-color;
        border-color: $navbar-color;

        &:hover, &:focus, &:active {
            background-color: darken($navbar-color, 10%) ;
            border-color: darken($navbar-color, 10%);
        }
    }
}
