@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');


.spinner-col {
  text-align: center;
  margin: 5rem;

  .spinner-element {
    width: 5rem;
    height: 5rem;
  }
}

.upfront-image {
  padding: 5px;
  border-radius: 2px 2px 0 0;
  border: 1px solid #333333;
  max-width: 100%;
  max-height: 400px;
  height: auto;
  display: block;
  margin: 0 auto 3rem;
}

.markdown-content {
  font-family: 'Merriweather', serif;
  color: #333;
  line-height: 1.8;

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 450px;
    border-radius: .25rem; // Bootstrap-like rounded corners
  }


  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 700;
    line-height: 1.2;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.875em;
  }

  p {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: 400;
  }

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul, ol {
    padding-left: 2em;
  }

  blockquote {
    margin-left: 0;
    padding-left: 1em;
    border-left: 0.25em solid #dfe2e5;
    color: #6a737d;
  }

  .token{
    text-decoration: none!important;
  }
  code {
    padding: 0.2em 0.4em;
    font-size: 0.9em;
    text-decoration: none;

  }

  pre {
    padding: 1em;
    overflow: auto;
  }

}


.breadcrumb {
    //background: #f8f9fa;
    //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    padding: 10px 15px;
    border-radius: 4px;

    .breadcrumb-item {
        font-size: 16px;
        color: #6c757d;

        &:last-child {
            color: #495057;
        }

        &:not(:last-child)::after {
            content: ">";
            color: #adb5bd;
            margin: 0 0.2em;
        }

        a {
          color: #6c757d;
          text-decoration: none;

          &:hover {
            color: #495057;
            text-decoration: underline;
          }
        }
    }
}


.main-title {
  font-family: 'Arial', sans-serif; // You can replace this with any font you prefer
  font-size: 5em; // Keep the size large
  text-align: center; // Keep the text centered
  color: #1a2b4c; // Use the navbar color for better consistency
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); // A softer shadow for a more subtle effect
  padding: 20px; // Keep the padding
  margin: 0 auto; // Center the title horizontally
  line-height: 1.2; // Improve readability
  letter-spacing: -2px; // Tighten up the letter spacing
  word-spacing: 2px; // Add some space between words
  text-transform: uppercase; // Make the title uppercase for more impact
  background: linear-gradient(120deg, #1a2b4c 100%, black 0%); // Add a subtle background gradient
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; // Make the text color transparent to show the background gradient
}
